# Arquivos de compilação
*.obj
*.exe
*.ilk
*.pdb
dist/
build/
*.spec
scripts/
# Pasta de cache do Python e imagens
cache/

# Arquivos temporários da Steam API
steam_appid.txt

# Pasta de ambiente virtual do Python
.venv/

# Arquivos de configuração do VS Code
.vscode/
steam_appid.txt